# Common settings that generally should always be used with your language specific settings

# Auto detect text files and perform LF normalization
*          text=auto

# Documents
*.md       text diff=markdown
*.mdx      text diff=markdown
*.txt      text

# Graphics
*.png      binary
*.jpg      binary
*.jpeg     binary
*.gif      binary
*.ico      binary
*.svg      text
*.webp     binary

# Scripts
*.sh       text eol=lf
*.bat      text eol=crlf
*.cmd      text eol=crlf
*.ps1      text eol=crlf

# Serialisation
*.json     text
*.toml     text
*.yaml     text
*.yml      text

# Archives
*.7z       binary
*.gz       binary
*.tar      binary
*.tgz      binary
*.zip      binary

# Source code
*.css             text diff=css
*.html            text diff=html
*.js              text
*.jsx             text
*.scss            text diff=css
*.ts              text
*.tsx             text
*.vue             text

# Configs
*.cnf             text
*.conf            text
*.config          text
.editorconfig     text
.env              text
.gitattributes    text
.gitconfig        text
*.lock            text -diff
package.json      text eol=lf
pnpm-lock.yaml    text eol=lf -diff
tsconfig.json     linguist-language=JSON-with-Comments

# Fonts
*.ttf             binary
*.eot             binary
*.otf             binary
*.woff            binary
*.woff2           binary

# RC files
*.*rc             text

# Ignore files
*.*ignore         text

# Prevents massive diffs from built files
dist/*            binary
